body {
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 0px;
	font-size: 14px;
}
a {
	color: #ff9900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h1 a {
	text-decoration: none !important;
	color: inherit !important;
}
h2, h2 a {
	color: #8533ff;
}
h3, h3 a {
	color: #3385ff;
}
h4, h4 a {
	color: #33cc33;
}
h5, h5 a {
	color: #cccc00;
}
h6, h6 a {
	color: #ff4d4d;
}
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #000000;
}
table {
    border-collapse: collapse;
}
#links table {
	margin-bottom: -10px !important;
}
#links td {
    padding-right: 8px !important;
	padding-left: 50px !important;
    padding-top: 0px !important;
	text-indent: -18px !important;
    padding-bottom: 10px !important;
    border: 0px !important;
}
.Multiple td::before {
    content: "●";
    color: #00ff00;
	padding-right: 8px;
}
.Text_link a{
	display: inline !important;
}
.Text_link a::before{
	display: none !important;
}