---
title: Agency
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Agency you get 3 type of missions: <a href="/GTA-V/Agency - Security Contracts">Security Contracts</a>, <a href="/GTA-V/Agency - VIP Contract"> and <a href="/GTA-V/Agency - Payphone Hits">Payphone Hits</a>. The Payphone Hits will unlock when you have done 3 Payphone Hits.
	{% include text__Agency_Passive_income.html %}
	<br>You will get a garage storage of 20 cars.<br>The next 2 upgrades i will recommend to add to your Agency.<br>Optional you can buy a: Armory (Here you have your personal Ammunition where you can buy guns and ammo with a 5% discount.) and Vehicle Workshop with Imani Tech the only place in the game where you can add Imani Tech upgrades on your car.</p>
	<h2>Heist</h2>
	<h3>Links</h3>
	{% include links__Agency.html %}
	<h2>Video</h2>
	<p>Complete AGENCY Money Guide | GTA Online Agency Guide & Tips To Make MILLIONS</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UEpltQI5uxc?si=ED9v8Y96iMwHoV2T&amp;start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>