---
title: VIP contract
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Agency_-_mission.html %}
	<p>With the VIP contract you can earn in the final as leader $1.000.000.<br>you need to do first some preps and mission before you can do the final.</p>
	<h4>Video</h4>
	<p>GTA Online Dr Dre Contract SOLO Guide - Complete Walkthrough + Money Tips + How to Start!</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CWuPAxKvlmU?si=Q90M3IhmwMiV6LNW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
