---
title: Payphone Hits
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Agency_-_mission.html %}
	<p>With the Payphone Hits you will get a base payout and a bonus payout.<br>The bonus pay is only awarded if you complete the kill using the method described in the job text.<br>If done wrong, you only get the base pay.<br>
	CEO gets: $15,000 + $30,000 bonus = $45,000<br>
	Associate gets: $15,000 + $10,000 bonus = $25,000</p>
	<h4>The CEO</h4>
	<h5>Bulldozer</h5>
	<p>Use a scoped rifle to take out the target with the bulldozer<br>Shoot the person in the bulldozer with a scoped rifle when the target walks in front of the bulldozer.</p>
	<p>Gta 5 Payphone Hit Bulldozer - Use Scoped Rifle To Take Out Target With Bulldozer</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-27LJTUUv-Q?si=owPPGCfERTQSI5gd&amp;start=24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Gas Tank Explosion</h5>
	<p>Use a scoped rifle to take out the target a Gas Tank Explosion<br>Shoot the Gas Tank when the target walks in front of the Gas Tank.
	</p>
	<p>Gta 5 Payphone Hit - Use a scoped rifle to take out the target with a gas tank explosion</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HCPBkUxqNj0?si=H69tRYLzuElGGPX1&amp;start=25" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Shipping Container</h5>
	<p>Use a scoped rifle to take out the target with a Shipping Container<br>Shoot on the *red dot* on the crane when the target walks under the container.</p>
	<p>Gta 5 Payphone Hit Take Out Target WIth a Cargo Container & Scoped Rifle</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LVwTU4cqUKE?si=9fYJ6CRW917cq-C0&amp;start=26" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Cofounder</h4>
	<h5>Fire</h5>
	<p>Set the target's car on fire while they are inside it.<br>Shoot with a gun on a car until you see fire then stop shooting the car will blown up after a couple of seconds.</p>
	<p>Payphone Hits: The Cofounder (Car On Fire) - GTA 5 Online The Contract DLC</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/S8g7Ey5VfpE?si=z98eZdj_-7WQWNMB&amp;start=83" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Explosives</h5>
	<p>Take out the target using an Explosives modification installed on their car.<br>Go with the targets car to an LS Costoms and place an Ignition Bomb on the car. When he drive away the car will explodes directly.</p>
	<p>Gta 5 Payphone hit - Take out the Target Using an Explosives Modification on Their Car</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/HCPBkUxqNj0?si=H69tRYLzuElGGPX1&amp;start=25" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Judge</h4>
	<h5>Caddy</h5>
	<p>Collect the golfing equipment and run over the target with a golf buggy.<br>Go in front of the golf club building there you get a golf outfit. Then take a golf caddy and drive over the target.</p>
	<p>The Judge: Caddy 📞 Payphone Hits | GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Q1FmIZgaZbw?si=Wv6Kt-xFKJ59Cf_I&amp;start=91" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Remote Bomb</h5>
	<p>Collect the golfing equipment and take out the target using a Remote Bomb on hole 1, 3 or 6.<br>Go in front of the golf club building there you get a golf outfit. Then grab a bag with explosives besides a tree and then place the bomb in the golf hole that is standing in the message (1, 3 or 6). then when the target is at that golf hole then call the demolition contact on your phone.</p>
	<p>Gta 5 Payphone hit - Take out the target using a remote bomb on the first hole</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FXUq_qOlJe4?si=e2wuhtGBWvsitXMh&amp;start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Golf Club</h5>
	<p>Collect the golfing equipment and take out the target with a golf club.<br>Go in front of the golf club building there you get a golf outfit. Then kill the target with your golf club.</p>
	<p>GTA Online: "Collect the Golfing Equipment & Take out the Target using a Golf Club" Payphone Hit</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Egl9BjQK8nY?si=MekWKS0eUz7rEcqz&amp;start=14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Popstar</h4>
	<h5>Truck Cab</h5>
	<p>Destroy the target's vehicle using a truck cab.<br>Drive with a truck cab and ram a with your truck cab until it explodes (hit with full speed helps to demages the tragets car faster).</p>
	<p>Gta Online Payphone Hit - Destroy the Target's vehicle using a Truck Cab</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WlycBjXwTDM?si=DPecfwusPOHrYt3S&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Police Intimidation</h5>
	<p>Stay within the area with the police sirens on in order to intimidate the target and make them crash.<br>Steal a police car at a police station or call 911 on your phone and call police emergency so you can steal a police car. then drive to the target and following him close until the target will crash and explodes.</p>
	<p>Gta 5 Payphone hit - Take out the target using a remote bomb on the first hole</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/btI8DBI-8to?si=AmxDdFATPrvD-Mus&amp;start=126" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Lowrider Drive-by</h5>
	<p>Take out the target using a drive-by weapon whilst in a Vagos Lowrider.<br>You must drive in a Vagos Lowrider you can use your own if you have else you can steal it at an yellow question mark. drive to the target and shoot with a gun that you can use from the car to kill the target.</p>
	<p>Gta Online Payphone Hit - Take out target using a drive-by weapon in a Vagos lowrider</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/917_8ZK9mM0?si=cLvCJ3yajY8S5Qtn&amp;start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Tech Entrepreneur</h4>
	<h5>Drowning</h5>
	<p>Pick up the target in a taxi and drown them by submerging the vehicle in water.<br>Drive the Taxi in deep water and the target will dying.</p>
	<p>GTA Online: "Pick up Target in Taxi & Drown Them By Submerging the Vehicle in Water - Payphone Hit</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/n00SgW-OD2k?si=87K9XSg0MwY_DOIn&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Crushing</h5>
	<p>Pick up the target in a taxi and drive them into the car crusher at the scrapyard.<br>Drive with the taxi to the scrapyard and the taxi will destroyed with the target inside in it.</p>
	<p>Gta online Payphone Hit - Pick up target in taxi and drive them into car crusher at scrapyard</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/byvlQwb8qnA?si=i81mojW0SGgfNawc&amp;start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Exploding</h5>
	<p>Pick up the target in a taxi and take them out with a gas station explosion.<br>Drive the taxi and let it exploded when the target is inside of it. (I do a suicide when he is inside by driving in a tank station gas pomp).</p>
	<p>Gta Online Payphone Hit - Take out target using a drive-by weapon in a Vagos lowrider</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/A-z1IA4o5g8?si=NAh1f89Un75zumis&amp;start=12" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Trolls</h4>
	<h5>Quick Time</h5>
	<p>Take out all the targets within 7 minutes.<br>Kill all targets in 7 minutes (Recommended use a fast car).</p>
	<p>GTA Online: "Pick up Target in Taxi & Drown Them By Submerging the Vehicle in Water - Payphone Hit</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Z-6SYjwwogE?si=9aia6YBcjUaExzWk&amp;start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Headshots</h5>
	<p>Take out all the targets with a headshot.<br>Kill all targets with a headshot (Recommended use a fast car).</p>
	<p>Gta online Payphone Hit - Pick up target in taxi and drive them into car crusher at scrapyard</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/I_HzNtj9Zpk?si=jZCiOKCxR8ltFvVI&amp;start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Run over</h5>
	<p>Take out all the targets by running them over with a vehicle.<br>Drive over all targets. (Recommended use a fast car).</p>
	<p>Gta Online Payphone Hit - Take out target using a drive-by weapon in a Vagos lowrider</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/RZ4YDQ5xcHI?si=grHLCAosVBo82BQD&amp;start=180" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>The Dealers</h4>
	<h5>Explosives</h5>
	<p>Take out all targets at the same time using explosives.<br>Go to 1 location and blown them up at the same time. (Recommended to use Sticky bombs)</p>
	<p>The Dealers: Explosives 📞 Payphone Hits | GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/cavQJmoShyE?si=fgsojoNCjj0-5usE&amp;start=279" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Scoped Rifle</h5>
	<p>Take out all the targets at the same time using a scoped rifle.<br>Go to 1 location and shoot all targets dead with a Scoped Rifle (sniper) at the same time.</p>
	{% include text__PayPhone_Hits__The_Dealers__Scoped_Rifle.html %}
	<h5>Silenced Pistol</h5>
	<p>Take out all the targets at the same time using a suppressed pistol.<br>Go to 1 location and shoot all targets dead with a silence gun at the same time.</p>
	{% include text__PayPhone_Hits__The_Dealers__Scoped_Rifle.html %}
	<h4>The Hitmen</h4>
	<h5>Destination</h5>
	<p>Take out the targets after they all arrive at the clients house.<br>Go to the yellow question mark wait until all targets are on that point and then kill them all.</p>
	<p>The Hitmen: Destination 📞 Payphone Hits | GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qwAFzt_AHjU?si=_lPt4wToqyyI-325&amp;start=281" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Drive-By</h5>
	<p>Take out all the targets in a driveby using a Micro SMG before they get to the client's house.<br>Kill all targets before they are at the Yellow question mark location shoot them form the <strong>car</strong> with an <strong>Micro SMG</strong>.</p>
	<p>The Hitmen: Drive-By 📞 Payphone Hits | GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3_X0Z2dC0JM?si=M__p9rxcY_OQF7EU&amp;start=60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Explosive</h5>
	<p>Take out all the targets using throwable explosives before they get to the client's house.<br>Drive over all targets. (Recommended use a fast car).</p>
	<p>The Trolls: Run Over 📞 Payphone Hits | GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/RZ4YDQ5xcHI?si=grHLCAosVBo82BQD&amp;start=180" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>