---
title: Security Contracts
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Agency_-_mission.html %}
	<p>Security Contracts are quick missions. There are 6 different missions. This have only a base payout. the only one Asset Protection is every crates that get destroyed you will loss the amount of money that you can earn
	{% include text__Agency_Passive_income.html %}</p>
	<h4>Asset Protection</h4>
	<p>You need to protect the crates. <br>There are enemies with red arrows above their head these are the enemies that can destroy the crates. 
	</p>
	<p>How to make asset protection security contract missions very easy Gta Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FKDFECaArNY?si=qOCKAOC0TIXRGMIs&amp;start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>Gang Termination</h4>
	<p>Go to the location and then you need to kill the 4 gang member they have a red arrow above their head. (recommended use the Armored Kuruma.) 
	</p>
	<p>GTA Online: "Gang Termination" Security Contract Guide (SOLO)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BdjoT4QVxFw?si=5NOUB1HAfonLrBXH&amp;start=145" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>Liquidize Assets</h4>
	<p>First you need to follow an vehicle and does not been Detected. After it in a building you need to shoot some enemies and destroy their product. after it run for the police.
	</p>
	<p>GTA Online Heist #1 - The Fleeca Job (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e-Zp229V4F8?si=_tFDMdhrWdo54oB2&amp;start=201" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>Recover Valuables</h4>
	<p>Go to the location and kill them inside the building. locate the safe. Find the safe codes. Take the valuable in the Safe and bring it back to the Agency. 
	</p>
	<p>Gta 5 Safe Combination Tequi la la Security Contract Recover Valuables</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Rzg3Li8C57Y?si=gZFvrVfF9-v8qrGH&amp;start=8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>Rescue Operation</h4>
	<p>You need to rescue your client. first kill all enemies. Then take your client to your vehicle and bring him back to the safe house.</p>
	<p>Agency Security Contract Rescue Operation GTA 5 Online</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/rZuaeYi6YAU?si=v5d4qr2OgwYu4cE_&amp;start=108" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h4>Vehicle Recovery</h4>
	<p>You need to recover a vehicle of a client. Go to the location and kill all persons inside the building. first put on the button that open the exit and then drive with the vehicle out of the building and back to your agency.</p>
	<p>Security contracts Vehicle recovery LSIA fast & easy, Agency gtaonline</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e4bBsrYokvw?si=lUrDcXtagIBdAe8H&amp;start=375" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>