---
title: The Prison Break
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Apartment_-_mission.html %}
	<br>This missions you need to do it with 2 players.
	{% include Elite_Challange.html %}
		<tr>
			<td>Rashkovsky damage 1% or less</td>
		</tr>
		<tr>
			<td>Complete under 4:40</td>
		</tr>
		<tr>
			<td>No Lives Lost</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Rashkovsky damage 1% or less<br>
			Rashkovsky get maximum damage of 1%.</td>
		</tr>
		<tr>
			<td>Complete under 5:20<br>
			The timer starts when you see the cut scene in the prison that you go out of the prison bus.</td>
		</tr>
		{% include text__no_Lives_lost.html %}
	</table>
	<h4>Videos</h4>
	<h5>Missions</h5>
	<h6>Prison Break - Plane</h6>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=nLbJMs6u3H9TiOOy&amp;start=235" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Prison Break - Bus</h6>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=aV74QTq3tl28VkqF&amp;start=909" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Prison Break - Station</h6>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=mk2KYG1LXVxGtCUu&amp;start=1311" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Prison Break - Wet Work</h6>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)<br>City Hall Team</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=hl-qv3UKZdC3BdWj&amp;start=1917" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<p>GTAO Heist: Prison Break Setup No.4 | Wet Work (City Hall Team)<br>City Hall Team</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/0RmCxIl4AT0?si=U7knpTIfhnpOq5Q6&amp;start=41" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)<br>Mansion Team</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=Aa4ohhjh6BUNe9dN&amp;start=2280" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Finale</h5>
	<p>GTA Online Heist #2 - The Prison Break (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/NKKw2bj03AI?si=Z75A0vNeaszjY0u2&amp;start=2779" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>