---
title: The Humane Labs Raid
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Apartment_-_mission.html %}</p>
	<p>This missions you need to do it with 4 players.
	{% include Elite_Challange.html %}
		<tr>
			<td>Complete under 11:00</td>
		</tr>
		<tr>
			<td>Vehicle damage under 2%</td>
		</tr>
		<tr>
			<td>No Lives Lost</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Complete under 11:00<br>Timer start when the players can move.<br>Timer stops when the mission ends.</td>
		</tr>
		<tr>
			<td>Vehicle damage under 2%<br>
			The Vehicle (Valkyrie) get maximum damage of 2%.</td>
		</tr>
		{% include text__no_Lives_lost.html %}
	</table>
	<h4>Videos</h4>
	<h5>Missions</h5>
	<h6>Humane Raid - Key Codes</h6>
	<p>GTA Online Heist #3 - The Humane Labs Raid (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/m1FiMMvHF-0?si=tL6jz9xGp9A5nQUD&amp;start=160" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Humane Raid - Insurgents</h6>
	{% include text__Recommended_Cars_Missions.html %}</p>
	<p>GTA Online Heist #3 - The Humane Labs Raid (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/m1FiMMvHF-0?si=vGKZxVsOCmwPzCvl&amp;start=537" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Humane Raid - EMP</h6>
	<p>GTA Online Heist #3 - The Humane Labs Raid (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/m1FiMMvHF-0?si=zGHoY69yG-NROUtw&amp;start=1182" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Humane Raid - Valkyrie</h6>
	<p>GTA 5 HEISTS: HUMANE LABS RAID - VALKYRIE</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/81hiJUlYTw8?si=4cAvpb9o1KhTRAl4&amp;start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Humane Raid - Deliver EMP</h6>
	<p>How to Complete DELIVER EMP Fast & SOLO! - Humane Labs Raid Heist - Grand Theft Auto Online - PS4</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ks2aKs-Qolc?si=pQDAwNWr5zqQqMcJ&amp;start=24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Finale</h5>
	<p>GTA Online Heist #3 - The Humane Labs Raid (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/m1FiMMvHF-0?si=ygNj5CuEJlurUsRS&amp;start=3717" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>