---
title: The Pacific Standard
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Apartment_-_mission.html %}
	<br>This missions you need to do it with 2 players.
	{% include Elite_Challange.html %}
		<tr>
			<td>Complete under 10:15</td>
		</tr>
		<tr>
			<td>NOOSE not called</td>
		</tr>
		<tr>
			<td>No Lives Lost</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Complete under 10:15<br>
			Timer start when the players can move.<br>Timer stops when the mission ends.</td>
		</tr>
		<tr>
			<td>NOOSE not called<br>
			Avoid NPCs or players triggering NOOSE inside the bank.<br>
			Control hostages and don’t set off alarms.<br>
			Police will come after you leave — that’s okay.</td>
		</tr>
		{% include text__no_Lives_lost.html %}
	</table>
	<h4>Videos</h4>
	<h5>Missions</h5>
	<h6>Pacific Standard - Vans</h6>
	<p>GTA Online Heist #1 - The Fleeca Job (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e-Zp229V4F8?si=_tFDMdhrWdo54oB2&amp;start=201" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Pacific Standard - Signal</h6>
	<p>GTA Online Heist #1 - The Fleeca Job (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e-Zp229V4F8?si=u_YTvewC5_BkXplq&amp;start=719" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Pacific Standard - Hack</h6>
	<h6>Pacific Standard - Convoy</h6>
	<h6>Pacific Standard - Bikes</h6>
	<h5>Finale</h5>
	<p>GTA Online Heist #1 - The Fleeca Job (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e-Zp229V4F8?si=F8Evl6aQy8DFSb4Y&amp;start=1134" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Drilling</h6>
	<p>GTA Online Heist #1 - The Fleeca Job (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e-Zp229V4F8?si=kZ-ugdH3qZJO9h4R&amp;start=1340" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>