---
title: Series A Funding
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Apartment_-_mission.html %}
	This missions you need to do it with 4 players.
	{% include Elite_Challange.html %}
		<tr>
			<td>Complete under 6:30</td>
		</tr>
		<tr>
			<td>Kill 75 enemies</td>
		</tr>
		<tr>
			<td>No Lives Lost</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Complete under 6:30<br>
			Timer start when the players can move.<br>Timer stops when the mission ends.</td>
		</tr>
		<tr>
			<td>Vehicle damage under 2%<br>
			The Vehicle (Valkyrie) get maximum damage of 2%.</td>
		</tr>
		{% include text__no_Lives_lost.html %}
	</table>
	<h4>Videos</h4>
	<h5>Missions</h5>
	<h6>Series A - Coke</h6>
	<p>GTA Online Heist #4 - Series A Funding (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yoz7wBs75HA?si=1aSws9g4MGLzI5Dg&amp;start=234" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Series A - Trash Truck</h6>
	<p>GTA Online Heist #4 - Series A Funding (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yoz7wBs75HA?si=sPe5RNau_4F2hrg-&amp;start=646" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Series A - Bikers</h6>
	<p>GTA Online Heist #4 - Series A Funding (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yoz7wBs75HA?si=IKXJqXNyoxUGDCyV&amp;start=1242" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Series A - Weed</h6>
	<p>GTA Online Heist #4 - Series A Funding (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yoz7wBs75HA?si=pSk0stJxorzrDpDQ&amp;start=2080" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h6>Series A - Steal Meth</h6>
	{% include text__Recommended_Cars_Missions.html %}<br>Note: when the mission must restart then you must do the missions without cars.</p>
	<p>GTA Online – Series A Funding Setup: Stealing Meth in Action!</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qqVlxbrkY_Y?si=itswbq7qkHI5lkVB&amp;start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h5>Finale</h5>
	<p>GTA Online Heist #4 - Series A Funding (Elite Challenge & Criminal Mastermind)</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Yoz7wBs75HA?si=284yVv4gww0papcR&amp;start=3382" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
