---
title: Aggressive
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}
	{% include Elite_Challange.html %}
		<p>Do not die</p>
		<p>complete in 15 Minutes</p>
		<p>80 headshots</p>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		{% include text__Arcade_15_Minutes.html %}
		<p>80 headshots<br>
		You need to have 80 or more Headshots.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/NnRVEdG3oR0&t=127">2 Player Casino Heist Big Con Step By Step Walkthrough (GTA Online Diamond Casino Heist 2023)</a>
</body>
</html>