---
title: Arcade
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Arcade you will get 3 heists with high payout. you must do a lot of setups before you can do the final. the final must be done with at least 2 players.<br>
	There is an passive income of max $5000 per GTA day (48 minutes). Fill more arcade machine slots to increase safe income. For some slots you need to by slot machines so you can fill the slots<br>
	Even you will get 10 car storage space.<br>
	{% include text__Super_Computer.html %}
	<p>This super computer you can even by for the <a href="/GTA-V/Terrorbyte">Terrorbyte</p></a>.
	</p>
	<h2>Heist</h2>
	<h3>Links</h3>
	<div id="links" class="Multiple">
		<a href="/GTA-V/Arcade - Diamond Casino Heist - Scope">Diamond Casino Heist - Scope</a>
		<a href="/GTA-V/Arcade - Diamond Casino Heist - Preps">Diamond Casino Heist - Preps</a>
		<a href="/GTA-V/Arcade - Diamond Casino Heist - Final - Aggressive">Diamond Casino Heist - Final - Aggressive</a>
		<a href="/GTA-V/Arcade - Diamond Casino Heist - Final - Silent and Sneaky">Diamond Casino Heist - Final - Silent and Sneaky</a>
		<a href="/GTA-V/Arcade - Diamond Casino Heist - Final - The Big Con">Diamond Casino Heist - Final - The Big Con</a>
	</div>
</body>
</html>