---
title: Arcade
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Arcade you will get a heist with high payout. you must do a lot of setups before you can do the final. the final must be done with atleast 2 players.<br>
	There is an passive income of max $5000 per GTA day (48 minutes). Fill more arcade machine slots to increase safe income. For some slots you need to by slot machines so you can fill the slots<br>
	Even you will get 10 car storage space.<br>
		You can even by in the Arcade a super computer where you can manage the following busisses on:<div id="links" class="Multiple">
			<a href="/GTA-V/Garment Factory - The Black Box Files">The Black Box Files</a>
			<a href="/GTA-V/Garment Factory - The Brute Force File">The Brute Force File</a>
			<a href="/GTA-V/Garment Factory - The Fine Art File">The Fine Art File</a>
			<a href="/GTA-V/Garment Factory - The Project Breakaway File">The Project Breakaway File</a>
		</div>
		This super computer you can even by for the Terrabyte. (later maby a link to it.)
	</p>
	<h2>Missions</h2>
	<h3>Links</h3>
	<div id="links" class="Multiple">
		<a href="/GTA-V/Garment Factory - The Black Box Files">The Black Box Files</a>
		<a href="/GTA-V/Garment Factory - The Brute Force File">The Brute Force File</a>
		<a href="/GTA-V/Garment Factory - The Fine Art File">The Fine Art File</a>
		<a href="/GTA-V/Garment Factory - The Project Breakaway File">The Project Breakaway File</a>
	</div>
</body>
</html>