---
title: Hacking
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}
	<p>This are a guide how to hack the finger print in the final when stealing the loot.</p>
	<p><a target="_blank" href="https://www.youtube.com/watch?v=kht6dRcDmKQ&t=112s">Hacking Video Guide</a> You only need the finger print the rest not.</p>
	<p>Hacking Video GuideYou only need the finger print the rest not.<br>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/kht6dRcDmKQ?si=u79m1gn_z1Q50GmK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/kht6dRcDmKQ?si=r0L_uCgqrvNW8wRC&amp;start=112" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
	<img src="https://i.imgur.com/BPoFQvi.png" alt="Casino Heist Finger Print" height="600">
	<img src="https://i.imgur.com/zTIdavR.jpeg" alt="Casino Heist Finger Print" height="600">
	<p>If you want to train your self with the fingerprint hacking then you can buy the Door Security at your first Whiteboard of the Casino Heist.<br>
	<img src="/GTA-V/IMG/Casino Heist - Finger Print Scanner Purchase.jpg" alt="Casino Heist Finger Print Scanner Purchase" width="800"></p>
</body>
</html>