---
title: Preps
---

{% include header.html %}
{% include body_begin.html %}
	<h4>Aggressive</h4>
	<h5>Recommended optional Preps</h5>
	<div id="links" class="Multiple">
		<p>test1</p>
		<p>test2</p>
	</div>
	<h4>Silent and Sneaky</h4>
	<div id="links" class="Multiple">
		<p>test1</p>
		<p>test2</p>
	</div>
	<h4>Aggressive</h4>
	<h5>Recommended Preps</h5>
	<div id="links" class="Multiple">
		<p>Gunman<br>Karl Abolaji<br>cut: 5%</p>
		<p>Guns<br>Micro SMG Loadout</p>
		<p>Driver<br>Karim Denz<br>cut: 5%</p>
		<p>Gateway Verhicles<br>
		Sentinel Classic</p>
		<p>Hacker<br>
		Avi Schwarzman/...<br>cut: 10%/9%</p>
		<p>Entry Disquise<br>
		Gruppe Sechs</p>
	</div>
	<h5>Recommended optional Preps</h5>
	<div id="links" class="Multiple">
		<p>Exit Disguise<br>
		Noose/Firefighter</p>
		<p>Patrol Routes</p>
		<p>Duggan Shipments<br>you can only start this once.</p>
		<p>Security Intel<br>you have to do this only once than is it prep for every next heist.</p>
		<p>Security Passes</p>
	</div>
</body>
</html>