---
title: Arcade
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Arcade you will get 3 heists with high payout. you must do a lot of setups before you can do the final. the final must be done with at least 2 players.<br>
	There is an passive income of max $5000 per GTA day (48 minutes). Fill more arcade machine slots to increase safe income. When you buy the "Space Monkey 3" then you can fill all your slots.<br>
	Even you will get 10 car storage space.<br>
	{% include text__Master_Control_Terminal.html %}
	<h2>Heist</h2>
	<h3>Links</h3>
	{% include links__Arcade.html %}
</body>
</html>
