---
title: Preps
---

{% include header.html %}
{% include body_begin.html %}
	<h4>Hackers</h4>
	<p>How to unlock these Hackers<p>
	<div id="links" class="Multiple">
		<p>Paige Harris<br>
		Buy a <a href="/GTA-V/Terrorbyte">Terrorbyte</a></p>
		<p>Avi Schwarzman<br>
		you need to find and destroy all Signal Jammers. <a target="_blank" href="https://gtaweb.eu/gtao-map/ls/-/signal-jammers">Map with Locations</a>, <a target="_blank" href="https://youtu.be/d-QByIvMy_E&t=35">Video with Locations</a></p>
	</div>
	<h4>Yung Ancestor</h4>
	<p>Unlocking Yung Ancestor for Final - The Big Con<br>You can unlock Yung Ancestor when you are scoping the casino?????. Go to the lift and choose roof Terrace</p>
	<h4>Aggressive</h4>
	<h5>Recommended Preps</h5>
	<div id="links" class="Multiple">
		<p>Gunman<br>Charie Reed<br>cut: 7%</p>
		<p>Guns<br>SMG Loadout</p>
		{% include text__Arcade_Prep_support_crew.html %}
	</div>
	<h5>Recommended optional Preps</h5>
	<div id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew.html %}
		<p>Reinforced 
		Armor</p>
		<p>Boring Machine</p>
	</div><h4>Silent and Sneaky</h4>
	<h5>Recommended Preps</h5>
	<div id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew_2.html %}
	</div>
	<h5>Recommended optional Preps</h5>
	<div id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew_2.html %}
		<p>Steal EMP</p>
		<p>Infiltration Suits</p>
	</div>
	<h4>The Big Con</h4>
	<h5>Recommended Preps</h5>
	<div id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew_2.html %}
	</div>
	<h5>Recommended optional Preps</h5>
	<div id="links" class="Multiple">
		<p>Exit Disguise<br>
		Noose/Firefighter</p>
		{% include text__Arcade_Prep_support_crew_2.html %}
	</div>
</body>
</html>