---
title: Silent and Sneaky
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}</p>
	<h5>Final setup</h5>
	<div id="links" class="Multiple">
		<p>Entrance<br>
		Staff Lobby</p>
		<p>Exit<br>
		Staff Lobby
		<p>Buyer<br>
		High Level</p>
	</div>
	<p>{% include Elite_Challange.html %}
		<p>Do not die</p>
		<p>complete in 15 Minutes</p>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		{% include text__Arcade_15_Minutes.html %}
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/L_8RPzIQANs&t=122">2 Player Casino Heist Silent & Sneaky Step By Step Walkthrough (GTA Online Diamond Casino 2023)</a>
</body>
</html>