---
title: Aggressive
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}
	<h5>Final setup</h5>
	<table id="links" class="Multiple">
		<tr>
			<td>Entrance<br>
			Sewers</td>
		</tr>
		<tr>
			<td>Exit<br>
			Staff Lobby</td>
		</tr>
		<tr>
			<td>Buyer<br>
			High Level</td>
		</tr>
	</table>
	{% include Elite_Challange.html %}
		<tr>
			<td>Do not die</td>
		</tr>
		<tr>
			<td>complete in 15 Minutes</td>
		</tr>
		<tr>
			<td>80 headshots</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		{% include text__Arcade_15_Minutes.html %}
		<tr>
			<td>80 headshots<br>
			You need to have 80 or more Headshots.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/8N2_CK2bBBI&t=183">2 Player Casino Heist Aggressive Step By Step Walkthrough (GTA Online Diamond Casino Heist 2023)</a>
</body>
</html>