---
title: Aggressive
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}
	<h5>Final setup</h5>
	<div id="links" class="Multiple">
		<p>Entrance<br>
		Sewers</p><br>
		<p>Exit<br>
		Staff Lobby</p><br>
		<p>Buyer<br>
		High Level</p>
	</div>
	{% include Elite_Challange.html %}
		<p>Do not die</p>
		<p>complete in 15 Minutes</p>
		<p>80 headshots</p>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		{% include text__Arcade_15_Minutes.html %}
		<p>80 headshots<br>
		You need to have 80 or more Headshots.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/8N2_CK2bBBI&t=183">2 Player Casino Heist Aggressive Step By Step Walkthrough (GTA Online Diamond Casino Heist 2023)</a>
</body>
</html>