---
title: Preps
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Arcade_-_mission.html %}
	<h4>Hackers</h4>
	<p>How to unlock these Hackers<p>
	<table id="links" class="Multiple">
		<tr>
			<td>Paige Harris<br>
			Buy a <a href="/GTA-V/Terrorbyte">Terrorbyte</a></td>
		</tr>
		<tr>
			<td>Avi Schwarzman<br>
			You need to find and destroy all Signal Jammers. {% include text__Collection__Signal_Jammers__Map.html %}, Video with locations below<br><br>{% include text__Collection__Signal_Jammers__Video.html %}</td>
		</tr>
	</table>
	<h4>Yung Ancestor</h4>
	<p>Unlocking Yung Ancestor for Final - The Big Con<br>*You can unlock Yung Ancestor when you are scoping the casino?????*. Go to the lift and choose roof Terrace</p>
	<h4>Aggressive</h4>
	<h5>Recommended Preps</h5>
	<table id="links" class="Multiple">
		<tr>
			<td>Gunman<br>Charie Reed<br>cut: 7%</td>
		</tr>
		<tr>
			<td>Guns<br>SMG Loadout</td>
		</tr>
		{% include text__Arcade_Prep_support_crew.html %}
	</table>
	<h5>Recommended optional Preps</h5>
	<table id="links" class="Multiple">
		{% include text__Arcade_Prep_support_optional.html %}
		<tr>
			<td>Reinforced 
			Armor</td>
		</tr>
		<tr>
			<td>Boring Machine</td>
		</tr>
	</table>
	<h4>Silent and Sneaky</h4>
	<h5>Recommended Preps</h5>
	<table id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew_2.html %}
	</table>
	<h5>Recommended optional Preps</h5>
	<table id="links" class="Multiple">
		{% include text__Arcade_Prep_support_optional_2.html %}
		<tr>
			<td>Steal EMP</td>
		</tr>
		<tr>
			<td>Infiltration Suits</td>
		</tr>
	</table>
	<h4>The Big Con</h4>
	<h5>Recommended Preps</h5>
	<table id="links" class="Multiple">
		{% include text__Arcade_Prep_support_crew_2.html %}
	</table>
	<h5>Recommended optional Preps</h5>
	<table id="links" class="Multiple">
		<tr>
			<td>Exit Disguise<br>
			Firefighter</td>
		</tr>
		{% include text__Arcade_Prep_support_optional_2.html %}
	</table>
</body>
</html>