---
title: Collections
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>These are on map free mode collections that you can find. This can be done only once and you will get rewards or unlocks for them.</p>
	<h2 style="border-top: 1px solid black;">LD Organics</h2>
	<p>Reward:<br>
	$150.000<br>
	100.000RP<br>
	LD Organics hat<br>
	LD Organics t-Shirt</p>
	<p><a target="_blank" href="https://gtaweb.eu/gtao-map/ls/-/ld-organics-products">Map locations: LD Organics</a></p>
	<p>Video Locations: LD Organics</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/gcnCJ11TPZU?si=lfn33apq9eVmLXq0&amp;start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h2 style="border-top: 1px solid black;">LD Signal Jammers</h2>
	<p>Reward:<br>
	$150.000<br>
	50.000RP<br>
	Unlock: Avi Schwartzman (Hacker for Casino Heist)</p>
	<p>{% include text__Collection__Signal_Jammers__Map.html %}</p>
	<p>Video Locations: Signal Jammers</p>
	{% include text__Collection__Signal_Jammers__Video.html %}
</body>
</html>