---
title: The Black Box Files
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Garment_Factory_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>Destroy All 4 Plane Engines</td>
		</tr>
		<tr>
			<td>Recover All Plane Contents</td>
		</tr>
		<tr>
			<td>Kill 5 Enemies During the Escape</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Destroy All 4 Plane Engines<br>
			When you have taken the Tula first you need to hack the big plane and after it then you need to shoot with this plane on the engines of the big plane.</td>
		</tr>
		<tr>
			<td>Recover All Plane Contents<br>
			After the plane is crashed in the water you need to pick up 2 part of the plane with radar you will see 2 white dots where it is on the seabed.</td>
		</tr>
		<tr>
			<td>Kill 5 Enemies During the Escape<br>
			When you are on the boat while escaping then best is to go sit on a passengers seat and shoot with your guns and not with the turret on the frond of the boat.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/_0HGMPCBj7o">YouTube link - GTA Online: Agents of Sabotage - The Black Box File [All Challenges]</a><iframe width="560" height="315" src="https://www.youtube.com/embed/_0HGMPCBj7o?si=tYo3c1RmDVFRPZv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>