---
title: Garment Factory
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Garment Factory you will get the option to do 4 missions. Sort of mini heist you need to do 3 preps and then a final.<br>
	Once a weak there is 1 promoted mission that pays twice and you can do that one only once that week.<br>
	There is an passive income of $1500-$2000 per GTA day (48 minutes).<br>
	Even you will get 10 car storage space.</p>
	<h2>Missions</h2>
	<h3>Links</h3>
	<table id="links" class="Multiple">
		<tr>
			<td><a href="/GTA-V/Garment Factory - The Black Box Files"></td>
		</tr>
		<tr>
			<td><a href="/GTA-V/Garment Factory - The Brute Force File">The Brute Force File</a></td>
		</tr>
		<tr>
			<td><a href="/GTA-V/Garment Factory - The Fine Art File">The Fine Art File</a></td>
		</tr>
		<tr>
			<td><a href="/GTA-V/Garment Factory - The Project Breakaway File">The Project Breakaway File</a></td>
		</tr>
	</table>
</body>
</html>