---
title: Garment Factory
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Garment Factory you will get the option to do 4 missions. Sort of mini heist you need to do 3 preps and then a final.<br>
	Once a weak there is 1 promoted mission that pays twice and you can do that one only once that week.<br>
	There is an passive income of $1500-$2000 per GTA day (48 minutes).<br>
	Even you will get 10 car storage space.</p>
	<h2>Missions</h2>
	<h3>Links</h3>
	{% include links__Garment_Factory.html %}
</body>
</html>