---
title: The Black Box Files
---

{% include header.html %}
	<title>{{ page.title }}</title>
{% include body_begin.html %}
	{% include Garment_Factory_-_mission_text.html %}
	{% include Elite_Challange.html %}
		<p>Locate Project Breakaway in 5 minutes</p>
		<p>Get 15 headshots</p>
		<p>Recover Black Books and Server Blades</p>
	{% include Elite_Challenge_explanation.html %}
		<p>Locate Project Breakaway in 5 minutes<br>
		Locate the Project Breakaway storage location within 5 minutes. With the app on your mobile phone (Tip take a fast helicopter to find the location.)</p>
		<p>Get 15 headshots<br>
		Shoot during the mission 15 headshots. there are a lot of enemies during this mission.</p>
		<p>Recover Black Books and Server Blades<br>
		In the part where you must grep the main target there you can even grep in that rooms the Black Books and Server Blades.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://www.youtube.com/watch?v=otvIpaO4fN0">YouTube link - GTA Online: Agents of Sabotage - The Project Breakaway File [All Challenges]</a>
</body>
</html>