---
title: The Fine Art File
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Garment_Factory_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>Enter the penthouse undetected</td>
		</tr>
		<tr>
			<td>Flick the switch in 60 seconds</td>
		</tr>
		<tr>
			<td>Take all cabinet contents</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Enter the penthouse undetected<br>
			Land on the roof. Kill the guard on the roof. Eliminate the guard inside the room and enter the floor door without being detected.</td>
		</tr>
		<tr>
			<td>Flick the switch in 60 seconds<br>
			In the penthouse room switch within 60 seconds the switch on.</td>
		</tr>
		<tr>
			<td>Take all cabinet contents<br>
			in the room with the cabinets first do the right and left after it grep the center one. after you grep the center one then you activated the poison gas trap leave after it the little room.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<p>GTA Online: Agents of Sabotage - The Fine Art File [All Challenges]</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/QhlGGKgnCaY?si=HoD9MOeFjdJ0RWSR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>