---
title: The Brute Force File
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Garment_Factory_-_mission.html %}
	{% include Elite_Challange.html %}
		<p>Reach the base in under 5 minutes</p>
		<p>Enter Area A undetected</p>
		<p>Destroy 5 Vehicles with the Scarab</p>
	{% include Elite_Challenge_explanation.html %}
		<p>Reach the base in under 5 minutes<br>
		Driving to Fort Zancudo (Military base)</p>
		<p>Enter Area A undetected<br>
		Sneak past the guards. Avoid being spotted by the guards or cameras, and do not kill them. Once you're in the corridor, there’s a person walking — take them out silently from behind. At the end of the corridor is Area A. Eliminate the two guards near the entrance using a silenced weapon without triggering the alarm. After that, you can enter Area A. When you enter, the alarm will go off, but the stealth challenge will still count as completed.</p>
		<p>Destroy 5 Vehicles with the Scarab<br>
		Destroy with the laser of the Scarab at least 5 cars.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/BV1E07T0UzM">YouTube link - GTA Online: Agents of Sabotage - The Brute Force File [All Challenges]</a>
</body>
</html>