---
title: The Brute Force File
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Garment_Factory_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>Reach the base in under 5 minutes</td>
		</tr>
		<tr>
			<td>Enter Area A undetected</td>
		</tr>
		<tr>
			<td>Destroy 5 Vehicles with the Scarab</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Reach the base in under 5 minutes<br>
			Driving to Fort Zancudo (Military base)</td>
		</tr>
		<tr>
			<td>Enter Area A undetected<br>
			Sneak past the guards. Avoid being spotted by the guards, and do not kill them. Once you're in the corridor, there’s a person walking — take them out silently from behind. At the end of the corridor is Area A. Eliminate the two guards near the entrance using a silenced weapon without triggering the alarm. After that, you can enter Area A. When you enter, the alarm will go off, but the stealth challenge will still count as completed.</td>
		</tr>
		<tr>
			<td>Destroy 5 Vehicles with the Scarab<br>
			Destroy with the laser of the Scarab at least 5 cars.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<p>YouTube link - GTA Online: Agents of Sabotage - The Brute Force File [All Challenges]</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/BV1E07T0UzM?si=PtKfuLyzTIOEZWxd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>