---
title: Preps
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<h5>Scoping the main target</h5>
	<p>Launch "Gather Intel" to scope the main target.</p>
	<h5>Recommended Preps</h5>
	<h6>Approach Vehicles</h6>
	<p>2-3 players</p>
	<div id="links" class="Multiple">
		<p>Submarine Kosatka</p>
	</div>
	<p>1/4 players</p>
	<div id="links" class="Multiple">
		<p>Boat Longfin</p>
	</div>
	<h6>Equipment</h6>
	<div id="links" class="Multiple">
		<p>Plasma Cutter</p>
		<p>Fingerprint Cloner</p>
		<p>Cutting Torch</p>
	</div>
	<h6>Weapon Loadout</h6>
	<div id="links" class="Multiple">
		<p>Conspirator</p>
	</div>
</body>
</html>