---
title: Final
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<div id="links" class="Multiple">
		<p>Approach Vehicle<br>The one that you have prepped</p><br>
		<p>Infiltration Point<br>2-3 players<br>Drainage Tunnel<br>1/4 players<br>Main Dock/Airstrip</p><br>
		<p>Compound Entry Point<br>Drainage Tunnel</p><br>
		<p>Escape Point<br>You can choose one normally you will swim of the map</p><br>
		<p>Time of Day<br>Night</p>
	</div>
	<h4>Secondary Targets</h4>
	<table>
		<tr><td>Loot</td><td>Total Filled Bag</td><td>Stacks needed</td></tr>
		<tr><td>Cash</td><td>320.000</td><td>4</td></tr>
		<tr><td>Paintings</td><td>330.000</td><td>2</td></tr>
		<tr><td>Weed</td><td>356.000</td><td>2.7</td></tr>
		<tr><td>Cocaine</td><td>400.000</td><td>2</td></tr>
		<tr><td>Gold</td><td>495.000</td><td>1.5</td></tr>
	</table>
	<h4>Videos</h4>
	I will add later a video.
	<a target="_blank" href="https://youtu.be/NnRVEdG3oR0&t=170"></a>
</body>
</html>