---
title: Scope
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<p>This page is going about scoping of: Point of interest.<br>
	This have only be to do once after it you will have it for all future Heists.</p>
	<h4>link</h4><a target="_blank" href="https://www.gtaboom.com/Cayo_Perico_Heist:_Scope_Out_and_Points_of_Interest_Locations">All possible location to scope</a>
	<p>Under it there is a image of all Point of interest. You need for this only to do the: "Infiltration Points" and "Exfiltration Points" After it go to the Primary target.<br> Optional scope the other stuff (I do not recommend that).<br>If you do the Heist with 2 or 3 players there is enough secondary targets in the Compound where the main target is.</p>
	<img src="https://i.redd.it/b7c6dznt7m561.jpg" alt="Cayo Perico Scope Out map">
</body>
</html>