---
title: Preps
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<h5>Scoping the main target</h5>
	<p>Launch "Gather Intel" to scope the main target.</p>
	<h5>Recommended Preps</h5>
	<h6>Approach Vehicles</h6>
	<p>2-3 players</p>
	<table id="links" class="Multiple">
		<tr>
			<td>Submarine Kosatka</td>
		</tr>
	</table>
	<p>1/4 players</p>
	<table id="links" class="Multiple">
		<tr>
			<td>Boat Longfin</td>
		</tr>
	</table>
	<h6>Equipment</h6>
	<table id="links" class="Multiple">
		<tr>
			<td>Plasma Cutter</td>
		</tr>
		<tr>
			<td>Fingerprint Cloner</td>
		</tr>
		<tr>
			<td>Cutting Torch</td>
		</tr>
	</table>
	<h6>Weapon Loadout</h6>
	<table id="links" class="Multiple">
		<tr>
			<td>Conspirator</td>
		</tr>
	</table>
</body>
</html>