---
title: Kosatka
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Kosatka you can do the Cayo Perico Heist.<br>
	Even you can buy the Sparrow (Chopper). I think this is the best Chopper in the game with homing missiles.</p>
	<div id="links" class="Multiple">
		<a href="/GTA-V/Kosatka - Cayo Perico Heist - Scope">Cayo Perico Heist - Scope</a>
		<a href="/GTA-V/Kosatka - Cayo Perico Heist - Preps">Cayo Perico Heist - Preps</a>
		<a href="/GTA-V/Kosatka - Cayo Perico Heist - Hacking">Cayo Perico Heist - Hacking</a>
		<a href="/GTA-V/Kosatka - Cayo Perico Heist - Final">Cayo Perico Heist - Final</a>
	</div>
</body>
</html>