---
title: Final
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<table id="links" class="Multiple">
		<tr>
			<td>Approach Vehicle<br>The one that you have prepped</td>
		</tr>
		<tr>
			<td><Infiltration Point<br>2-3 players<br>Drainage Tunnel<br>1/4 players<br>Main Dock/Airstrip</td>
		</tr>
		<tr>
			<td>Compound Entry Point<br>Drainage Tunnel</td>
		</tr>
		<tr>
			<td>Escape Point<br>You can choose one normally you will swim of the map</td>
		</tr>
		<tr>
			<td>Time of Day<br>Night</td>
		</tr>
	</table>
	<h4>Secondary Targets</h4>
	<table>
		<tr><td>Loot</td><td>Total Filled Bag</td><td>Stacks needed</td></tr>
		<tr><td>Cash</td><td>320.000</td><td>4</td></tr>
		<tr><td>Paintings</td><td>330.000</td><td>2</td></tr>
		<tr><td>Weed</td><td>356.000</td><td>2.7</td></tr>
		<tr><td>Cocaine</td><td>400.000</td><td>2</td></tr>
		<tr><td>Gold</td><td>495.000</td><td>1.5</td></tr>
	</table>
	<h4>Videos</h4>
	I will add later a video.
</body>
</html>