---
title: Hacking
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Kosatka_-_mission.html %}
	<h4>Videos</h4>
	<p>How to do the Fingerprint Hack in the Cayo Perico Heist (Easy) - GTA Online</p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3iZzmd9CEk8?si=IBk7CMlLWbPFqcev" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
