---
title: Macro
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>This is a macro for GTA V online.</p>
	<p><a href="https://github.com/TheSuperGiant/GTA-V---Macro/releases/download/DirectLinkAHKFile/GTA.V.ahk">Download</a> the macro file. <a target="_blank" href="https://github.com/TheSuperGiant/GTA-V---Macro">GitHub Repo</a></p><br>
	<p>Before you can run this macro you need to have been Auto Hotkey V1 installed. <a href="https://www.autohotkey.com/download/ahk-install.exe">Download </a></p><br>
	<p>For all hotkeys click on this <a target="_blank" href="https://raw.githubusercontent.com/TheSuperGiant/GTA-V---Macro/refs/heads/Stable/README.md">link</a>.</p>
</body>
</html>