---
title: Macro
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>This is a Macro for GTA V online.</p>
	<p>Download the macro file <a target="_blank" href="https://github.com/TheSuperGiant/GTA-V---Macro/blob/Arch/GTA%20V.ahk">Download </a></p>
	<p>Before you can run this Macro you need to have been Auto Hotkey V1 installed. <a target="_blank" href="https://www.autohotkey.com/download/ahk-install.exe">Download </a></p>
	<p>For all hotkeys click on this <a target="_blank" href="https://raw.githubusercontent.com/TheSuperGiant/GTA-V---Macro/refs/heads/Arch/README.md">link</a>
</body>
</html>