---
title: Maude
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>First meet Maude<br>
	You will receive 5 times a email with a location of a bounty target.<br>
	pickup the Stone Hatchet<br>
	Make 25 kills to receive $250.000</p>
	<p>Reward:<br>
	$275.000 - $300.000<br>
	RP 10.000 - RP 20.000<br>
	Stone Hatchet</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GNcleVAnqR8?si=6qzu2ZhGy_iZ751r&amp;start=865" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>