---
title: Navy Revolver
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>For the Navy Revolver, you must first go to the clue location. Find the clue in this big location if you want you can use the Youtube video and the next clue exact locations.<br>
	Find the next 3 clues.<br>
	Pickup the Navy Revolver<br>
	Make 50 headshots to receive $250.000</p>
	<p>Reward:<br>
	$250.000<br>
	RP 15.000<br>
	Navy Revolver</p>
	<h3>All first clue locations</h3>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/B4Qx9lG7EaI?si=CH3z6UaeAQ9qHXh9&amp;start=43" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	<h3>Next 3 clue locations</h3>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/B4Qx9lG7EaI?si=CH3z6UaeAQ9qHXh9&amp;start=1008" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>