---
title: Nightclub
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Nightclub you will have an normal Nightclub with popularity this generate passive income and an underground illegal goods<br>
	<h3>Vehicles</h3>
	<h4>Goods Vehicles</h4>
	<table>
		<tr><td>Vehicle</td><td>Max Crates</td><td>Recommended</td></tr>
		<tr><td>Speedo Costum</td><td>90</td><td>-</td></tr>
		<tr><td>Mule Costum</td><td>180</td><td>No</td></tr>
		<tr><td>Pouder Costum</td><td>360</td><td>Yes</td></tr>
	</table>
	<h4>Service Vehicle</h4>
	<p>You can store the <a href="/GTA-V/Terrorbyte">Terrorbyte</a> in your Nightclub.</p>
	<h3>Passive Income</h3>
	There is an passive income of $500-$50.000 per GTA day (48 minutes) based on the popularity of your Nightclub.<br>
	There are a couple ways to increase your popularity:
	<table id="links" class="Multiple">
		<tr>
			<td>Blue Dot - If you see it then you can trow out a drunk costumer to get 25% popularity increase.</td>
		</tr>
		<tr>
			<td>Blue Man - If you see it then you can do an mission that you must bring a VIP to a location driving slowly to get 25% popularity increase.</td>
		</tr>
		<tr>
			<td>Promote Club - on the computer on the tab Nightclub Management can you select a mission to ...% popularity increase.</td>
		</tr>
		<tr>
			<td>Hire new DJ - Cost 100K: You need to a pickup mission and 100% popularity increase.</td>
		</tr>
		<tr>
			<td>Hire a DJ again - Cost 10K: 10% popularity increase</td>
		</tr>
		<tr>
			<td>Dancing - Dance in the Nightclub will increase your popularity</td>
		</tr>
	</table>
	<h3>Illegal Goods</h3>
	<p>If your Nightclub is full upgraded and the workers is set on the goods creating you can get around the 800.000 per 18 GTA Days (48 minutes per day). This is automatic created after it you need to do a sell mission that takes around 10 minutes.</p>
	<table>
		<tr><td>Goods Type</td><td>Income Per Hour</td><td>Business Needed</td></tr>
		<tr><td>South American Imports</td><td>13.500</td><td>Cocaine Lockup</td></tr>
		<tr><td>Pharmaceutical Research</td><td>11.475</td><td>Math Lab</td></tr>
		<tr><td>Cash Creation</td><td>9.450</td><td>Counterfeit Cash</td></tr>
		<tr><td>Cargo And Shipment</td><td>8.570</td><td>Hanger</td></tr>
		<tr><td>Sporting Goods</td><td>7.500</td><td>Bunker</td></tr>
		<tr><td>Organic Produce</td><td>6.075</td><td>Weed</td></tr>
		<tr><td>Print & Copying</td><td>5.400</td><td>Document Forgery</td></tr>
	</table>
	<h3>Upgrade</h3>
	<p>30 car storage<br>
	<h3>Video</h3>
	<p>GTA Online NIGHTCLUB Money Guide | Easiest Way To Make MILLIONS</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nePiODG7-Dg?si=QvfHjPYp0q3uxvA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
