---
title: Office
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Office you can buy the next 2 properties: <a href="/GTA-V/Cargo Warehouse">Cargo Warehouse</a> and <a href="/GTA-V/Vehicle Warehouse">Vehicle Warehouse</a>. Even you can do 8 "Special Vehicle Work" missions for this you need to have the <a href="/GTA-V/Vehicle Warehouse">Vehicle Warehouse</a>. You can do an Export Mixed Goods at your Office this will earn $50.000.<br>
	</p>
	<h2>Properties</h2>
	<h3>Links</h3>
	{% include links__Office.html %}
</body>
</html>