---
title: Cargo Warehouse
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Office_-_mission.html %}
	{% include text__Office_Cargo_Warehouse_Large.html %}
	<p>First you need to steal cargo and paying for it or let your Staff Member source cargo for you. on the map there is an human icon. This takes 1 GTA day (48 minutes). Sometimes you can source special cargo you will get more money when selling for these.<br>The Staff Member will sometimes source special cargo.<br>After you have done this and you found now its the right moment to sell it you can start a sell mission then i recommended to sell all crates at once. for the sell mission you can get planes boats or cars. There will always drop multiple vehicles.</p>
	<h3>Video</h3>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/EtVtDkO-La8?si=XU4GtTQMQVS6pigL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
