---
title: The McTony Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>Over 15 Headshots</td>
		</tr>
		<tr>
			<td>Find the Head of Security in 1 Minute</td>
		</tr>
		<tr>
			<td>No Lives Lost</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Over 15 Headshots<br>
			You need to have 16 or more Headshots.</td>
		</tr>
		<tr>
			<td>Find the Head of Security in 1 Minute<br>
			When the message appears on screen saying: "Find the Head of Security" then the timer starts</td>
		</tr>
		{% include text__no_Lives_lost.html %}
	</table>
	<h4>Videos</h4>
	<p>GTA Online Chop Shop - The McTony Robbery [All Bonus Challenges]</p>
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/o4Hy_uOaRpc?si=Rf_rEUruTXqCe2qT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
