---
title: The Podium Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>No Lives Lost</td>
		</tr>
		<tr>
			<td>Reach the Elevator Hatch Undetected</td>
		</tr>
		<tr>
			<td>Escape the Casino in 1 Minute</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		<tr>
			<td>Reach the Elevator Hatch Undetected<br>Walk true the corridors and does not get been seen of the Camera's. There are no enemies.</td>
		</tr>
		<tr>
			<td>Escape the Casino in 1 Minute<br>
			From the moment that you enter the car that you are stealing then the timer start running (First kill all the enemies entering the car).</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<p>GTA Online Chop Shop - The Podium Robbery [All Bonus Challenges]</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/5A_pB7K8Hj8?si=fZjkqff682AdC2_K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>