---
title: The Cargo Ship Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>No Lives Lost</td>
		</tr>
		<tr>
			<td>Reach the Bridge Undetected</td>
		</tr>
		<tr>
			<td>Over 80% Skylift Health Remaining</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		<tr>
			<td>Reach the Bridge Undetected<br>
			Kill the enemies on the ship silence with an suppressor on the gun. When you reached the control room knock on the door and behind it is standing the captain kill him and this challenge is done.</td>
		</tr>
		<tr>
			<td>Over 80% Skylift Health Remaining<br>
			Defend the Skylift with your chopper and blow up enemies choppers.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/5a7-R2zQZGU">YouTube link - GTA Online Chop Shop - The Cargo Ship Robbery [All Bonus Challenges]</a>
</body>
</html>