---
title: The Cargo Ship Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include Salvage_Yard_-_mission_text.html %}
	{% include Elite_Challange.html %}
		<p>No Lives Lost</p>
		<p>Reach the Bridge Undetected</p>
		<p>Over 80% Skylift Health Remaining</p>
	{% include Elite_Challenge_explanation.html %}
		<p>No Lives Lost<br>
		Does not go dead.</p>
		<p>Reach the Bridge Undetected<br>
		Kill the enemies on the ship silence. when you reached the control room knock on the door and behind it is standing the captain kill him and this challenge is done.</p>
		<p>Over 80% Skylift Health Remaining<br>
		Defend the Skylift with your chopper and blow up enemies choppers.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://www.youtube.com/watch?v=5a7-R2zQZGU">YouTube link - GTA Online Chop Shop - The Cargo Ship Robbery [All Bonus Challenges]</a>
</body>
</html>