---
title: The Gangbanger Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>No Cops Lives Lost</td>
		</tr>
		<tr>
			<td>Jailbreak in 3 Minutes</td>
		</tr>
		<tr>
			<td>King Tiny Has 75% Health</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>No Cops Lives Lost<br>
			Do not kill cops with a gun. The stun gung is allowed to use to shoot on the cops.</td>
		</tr>
		<tr>
			<td>Jailbreak in 3 Minutes<br>
			From the moment that the animation is done of opening the door then this timer starts.</td>
		</tr>
		<tr>
			<td>King Tiny Has 75% Health<br>
			King Tiny must have at least 75% health left.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/ub8kUtFBFZk">YouTube link - GTA Online Chop Shop - The Gangbanger Robbery [All Bonus Challenges]</a><iframe width="560" height="315" src="https://www.youtube.com/embed/ub8kUtFBFZk?si=oTmByIImUtoGo3fP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>