---
title: The Gangbanger Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<p>No Cops Lives Lost</p>
		<p>Jailbreak in 3 Minutes</p>
		<p>King Tiny Has 75% Health</p>
	{% include Elite_Challenge_explanation.html %}
		<p>No Cops Lives Lost<br>
		Do not kill cops with a gun. The stun gung is allowed to use to shoot on the cops.</p>
		<p>Jailbreak in 3 Minutes<br>
		From the moment that the animation is done of opening the door then this timer starts.</p>
		<p>King Tiny Has 75% Health<br>
		King Tiny must have at least 75% health left.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/ub8kUtFBFZk">YouTube link - GTA Online Chop Shop - The Gangbanger Robbery [All Bonus Challenges]</a>
</body>
</html>