---
title: Salvage Yard
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Salvage Yard you will get 5 stealing car Robberies (heists).<br>
	You can do 3 of them every weak.<br>
	Sometimes there is a claimable car that you can hold for your self for only $20,000.<br>
	There is even an tow truck that is possible to do this mission you must go out on the map to pickup a car and bring it back to the Salvage Yard. Earnings between $20,000 and $25,000.<br>
	There is an passive income of $300-$24,000 per GTA day (48 minutes) based on how active you do the tow truck mission.</p>
	<h2>Robberies</h2>
	<h3>Links</h3>
	{% include links__Salvage_Yard.html %}
</body>
</html>
