---
title: The Podium Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<p>No Lives Lost</p>
		<p>Reach the Elevator Hatch Undetected</p>
		<p>Escape the Casino in 1 Minute</p>
	{% include Elite_Challenge_explanation.html %}
		{% include text__no_Lives_lost.html %}
		<p>No Lives Lost<br>
		nobody must go dead.</p>
		<p>Walk true the corridors and does not get been seen of the Camera's. There are no enemies.</p>
		<p>Escape the Casino in 1 Minute<br>
		From the moment that you enter the car that you are stealing then the timer start running (First kill all the enemies entering the car).</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://youtu.be/5A_pB7K8Hj8">YouTube link - GTA Online Chop Shop - The Podium Robbery [All Bonus Challenges]</a>
</body>
</html>