---
title: The Duggan Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include Salvage_Yard_-_mission_text.html %}
	{% include Elite_Challange.html %}
		<p>Over 15 Headshots</p>
		<p>Disable TArget Vehicle on First Attempt</p>
		<p>Reach Hao in 1 minute</p>
	{% include Elite_Challenge_explanation.html %}
		<p>Over 15 Headshots<br>
		You need to have 16 or more Headshots. (Thats almost all enamies that will spawn inside the Arena.)</p>
		<p>Disable Target Vehicle on First Attempt<br>
		Disable with the drone on the first attempt the target car.</p>
		<p>Reach Hao in 1 minute<br>
		The timer starts when you leave the Arena.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://www.youtube.com/watch?v=76ctWfsDX7s">YouTube link - GTA Online Chop Shop - The Duggan Robbery [All Bonus Challenges]</a>
</body>
</html>