---
title: The McTony Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include Salvage_Yard_-_mission_text.html %}
	{% include Elite_Challange.html %}
		<p>Over 15 Headshots</p>
		<p>Find the Head of Security in 1 Minute</p>
		<p>No Lives Lost</p>
	{% include Elite_Challenge_explanation.html %}
		<p>Over 15 Headshots<br>
		You need to have 16 or more Headshots. (Thats almost all enamies that will spawn inside the Arena.)</p>
		<p>Find the Head of Security in 1 Minute<br>
		When the message appears on screen saying: "Find the Head of Security" then the timer starts</p>
		<p>No Lives Lost<br>
		nobody must go dead.</p>
	</div>
	<h4>Videos</h4>
	<a target="_blank" href="https://www.youtube.com/watch?v=o4Hy_uOaRpc">YouTube link - GTA Online Chop Shop - The McTony Robbery [All Bonus Challenges]</a>
</body>
</html>