---
title: The Duggan Robbery
---

{% include header.html %}
{% include body_begin.html %}
	{% include text__Salvage_Yard_-_mission.html %}
	{% include Elite_Challange.html %}
		<tr>
			<td>Over 15 Headshots</td>
		</tr>
		<tr>
			<td>Disable Target Vehicle on First Attempt</td>
		</tr>
		<tr>
			<td>Reach Hao in 1 minute</td>
		</tr>
	{% include Elite_Challenge_explanation.html %}
		<tr>
			<td>Over 15 Headshots<br>
			You need to have 16 or more Headshots. (That is almost all enemies that will spawn inside the Arena.)</td>
		</tr>
		<tr>
			<td>Disable Target Vehicle on First Attempt<br>
			Disable with the drone on the first attempt the target car.</td>
		</tr>
		<tr>
			<td>Reach Hao in 1 minute<br>
			The timer starts when you leave the Arena.</td>
		</tr>
	</table>
	<h4>Videos</h4>
	<p>GTA Online Chop Shop - The Duggan Robbery [All Bonus Challenges]</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/76ctWfsDX7s?si=TTTdVFGGw26JUmKn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>