---
title: Stash House
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>With the Stash House you can supply businesses that need to run with supply these are one of the following: <a href="/GTA-V/Bunker">Bunker</a>, <a href="/GTA-V/Acid Lab">Acid Lab</a> and the <a href="/GTA-V/Clubhouse">Mc Clubhouses</a>: <a href="/GTA-V/Document Forgery">Document Forgery</a>, <a href="/GTA-V/Counterfeit Cash Factory">Counterfeit Cash Factory</a>, <a href="/GTA-V/Weed Farm">Weed Farm</a>, <a href="/GTA-V/Meth Lab">Meth Lab</a>, <a href="/GTA-V/Cocaine Lockup">Mc Cocaine Lockup</a>. If you does not have one of them then you will get $30.000 for completing this.</p>
	<h2>Safe codes</h2>
	<p>These are the possible safe codes.</p>
	<table id="links" class="Multiple">
		<tr>
			<td>01-23-45</td>
		</tr>
		<tr>
			<td>02-12-87</td>
		</tr>
		<tr>
			<td>05-02-91</td>
		</tr>
		<tr>
			<td>24-10-81</td>
		</tr>
		<tr>
			<td>28-03-98</td>
		</tr>
		<tr>
			<td>28-11-97</td>
		</tr>
		<tr>
			<td>44-23-37</td>
		</tr>
		<tr>
			<td>72-68-83</td>
		</tr>
		<tr>
			<td>73-27-38</td>
		</tr>
		<tr>
			<td>77-79-73</td>
		</tr>
	</table>
</body>
</html>
