---
title: Terrorbyte
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>In the Terrorbyte you can upgrade and store your Oppressor Mk II.<br>
	You can launch inside the Terrorbyte the following missions:
	<div id="links" class="Multiple">
		<a href="/GTA-V/Client Jobs">Client Jobs</a><br>
		<a href="/GTA-V/Hangar">Air Freight Cargo (Hangar)</a> | Does not use instead the Master Control Terminal and start Air-Fright Cargo.<br>
		<a href="/GTA-V/Cargo Warehouse">Special Cargo (Cargo Warehouse)</a><br>
		<a href="/GTA-V/Vehicle Warehouse">Vehicle Cargo (Vehicle Warehouse)</a><br>
		<a href="/GTA-V/Bunker">Gunrunning Supplies (Bunker)</a><br>
		<a href="/GTA-V/Clubhouse">Biker Supplies | pick a random MC business to Supplies (MC business - Clubhouse)</a><br>
	</div>
	{% include text__Master_Control_Terminal.html %}</p>
</body>
</html>