---
title: Guns | Weapons
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>This page goes about recommended weapons to have.<br>L... mean the level that the weapon will unlock.<br>If Gun Van is standing behind the gun means that it only can be bought in the Gun Van. But not all Gun Van weapons are every week available.<br>The Muzzle Brake upgrades are all the same only cosmetic difference.</p>
	<h3>Guns</h3>
	<h4>Pistols</h4>
	<div id="links" class="Multiple">
		<p>AP Pistol | L33<br>
		Extended Clip<br>
		Flashlight<br></p>
		<p>Up-n-Automizer | L1 | Gun Van<br></p>
		<p>Stun Gun | L1</p>
	</div>
	<h4>Machine Guns</h4>
	<div id="links" class="Multiple">
		<p>Tactical SMG | L1 | Gun Van<br></p>
		<p>Combat MG | L80<br>
		Upgrade<br>
		Extended Clip<br>
		Grip<br>
		Large Scope<br>
		Muzzle Brake<br>
		Heavy Barrel</p>
	</div>
	<h4>Rifles</h4>
	<div id="links" class="Multiple">
		<p>Assault Rifle | L24<br>
		Upgrade<br>
		Extended Clip<br>
		Grip<br>
		Flashlight<br>
		Large Scope<br>
		Muzzle Brake<br>
		Heavy Barrel</p>
		<p>Special Carbine | L1<br>
		Upgrade<br>
		Extended Clip<br>
		Flashlight<br>
		Large Scope<br>
		Suppressor<br>
		Grip<br>
		Heavy Barrel</p>
	</div>
	<h4>Shotgun</h4>
	<div id="links" class="Multiple">
		<p>? | L<br></p>
	</div>
	<h4>Sniper Rifles</h4>
	<div id="links" class="Multiple">
		<p>Sniper Rifle | L21<br>
		Suppressor<br>
		Advanced Scope<br></p>
		<p>Heavy Sniper | L90<br>
		Upgrade<br>
		Extended Clip<br>
		Thermal Scope<br>
		Muzzle Brake<br>
		Heavy Barrel</p>
	</div>
	<h4>Heavy Weapons</h4>
	<p>The Minigun and Widowmaker are doing the same i recommended 1 of them. The Widowmaker is an leaser gun.</p>
	<div id="links" class="Multiple">
		<p>RPG | L100</p>
		<p>Minigun | L120</p>
		<p>Compact Granade Launcher | L</p>
		<p>Widowmaker | L1</p>
		<p>Railgun | L1 | Gun Van</p>
	</div>
</body>
</html>