---
title: Weapons | Guns
---

{% include header.html %}
{% include body_begin.html %}
	<h2>{{ page.title }}</h2>
	<p>This page goes about recommended weapons to have.<br>L... shows the level needed to unlock the weapon.<br>If a gun is level-locked, the Gun Van lets you buy it early.<br>If Gun Van is standing behind the gun means that it only can be bought in the Gun Van. But not all Gun Van weapons are every week available.<br>Before you can upgrade your gun you need it to be researched at the bunker.<br>The Muzzle Brake upgrades are all the same only cosmetic difference.</p>
	<h3>Guns</h3>
	<h4>Pistols</h4>
	<table id="links" class="Multiple">
		<tr>
			<td>AP Pistol | L33<br>
			Extended Clip<br>
			Flashlight</td>
		</tr>
		<tr>
			<td>Up-n-Automizer | L1 | Gun Van</td>
		</tr>
		<tr>
			<td>Stun Gun | L1</td>
		</tr>
	</table>
	<h4>Machine Guns</h4>
	<table id="links" class="Multiple">
		<tr>
			<td>Tactical SMG | L1 | Gun Van<br>
			Extended Clip<br>
			Suppressor<br>
			Scope</td>
		</tr>
		<tr>
			<td>Combat MG | L80<br>
			Upgrade<br>
			Extended Clip<br>
			Grip<br>
			Large Scope<br>
			Muzzle Brake<br>
			Heavy Barrel</td>
		</tr>
	</table>
	<h4>Rifles</h4>
	<table id="links" class="Multiple">
		<tr>
			<td>Carbine Rifle | L42<br>
			Upgrade<br>
			Extended Clip<br>
			Grip<br>
			Flashlight<br>
			Large Scope<br>
			Suppressor<br>
			Heavy Barrel</td>
		</tr>
		<tr>
			<td>Special Carbine | L1<br>
			Upgrade<br>
			Extended Clip<br>
			Flashlight<br>
			Large Scope<br>
			Muzzle Brake<br>
			Grip<br>
			Heavy Barrel</td>
		</tr>
	</table>
	<h4>Shotgun</h4>
	<table id="links" class="Multiple">
		<tr>
			<td>Pump Shotgun | L17<br>
			Upgrade<br>
			Explosive Slugs<br>
			Flashlight<br>
			Medium Scope<br>
			Muzzle Brake</td>
		</tr>
		<tr>
			<td>Assault Shotgun | L37<br>
			Extended Clip<br>
			Grip<br>
			Flashlight</td>
		</tr>
	</table>
	<h4>Sniper Rifles</h4>
	<table id="links" class="Multiple">
		<tr>
			<td>Sniper Rifle | L21<br>
			Suppressor<br>
			Advanced Scope</td>
		</tr>
		<tr>
			<td>Heavy Sniper | L90<br>
			Upgrade<br>
			Extended Clip<br>
			Thermal Scope<br>
			Muzzle Brake<br>
			Heavy Barrel</td>
		</tr>
	</table>
	<h4>Heavy Weapons</h4>
	<p>The Minigun and Widowmaker are doing the same I recommended 1 of them. The Widowmaker is an leaser gun.</p>
	<table id="links" class="Multiple">
		<tr>
			<td>RPG | L100</td>
		</tr>
		<tr>
			<td>Minigun | L120</td>
		</tr>
		<tr>
			<td>Compact Grenade Launcher | L1</td>
		</tr>
		<tr>
			<td>Widowmaker | L1</td>
		</tr>
		<tr>
			<td>Railgun | L1 | Gun Van</td>
		</tr>
	</table>
</body>
</html>