	You can buy a super computer for the <a href="/GTA-V/Terrorbyte">Terrorbyte</a> and <a href="/GTA-V/Arcade">Arcade</a></h4> where you can manage the following businesses on:
	<div id="links" class="Multiple">
		<a href="/GTA-V/Nightclub">Nightclub</a>
		<a href="/GTA-V/Bunker">Bunker</a>
		<a href="/GTA-V/Cocaine Lockup">Cocaine Lockup</a>
		<a href="/GTA-V/Meth Lab">Meth Lab</a>
		<a href="/GTA-V/Weed Farm">Weed Farm</a>
		<a href="/GTA-V/Counterfeit Cash Factory">Counterfeit Cash Factory</a>
		<a href="/GTA-V/Document Forgery Office">Document Forgery Office</a>
		<a href="/GTA-V/Vehicle Warehouse">Vehicle Warehouse</a>
		<a href="/GTA-V/Cargo Warehouse">Cargo Warehouse</a>
		<a href="/GTA-V/Hanger">Hanger</a>
	</div>