	<h2><a href="/GTA-V/Apartment">Apartment</a></h2>
	<h3>{{ page.title }}</h3>
	<p>You need to have a <a href="/GTA-V/Apartment">Apartment</a> of at least $200.000 before you can do this mission.<br>Recommended to have the Black Heavy Utility Vest or Gray Heavy Utility Vest.<br>Save wearing it under saved outfits<br>equip this in every mission and final.<br>Select before the missions or final: "start Heist Clothing: Player saved Outfits" and select your saved outfit with the Heavy Utility Vest.
	<p>Mission menu settings<br></p>
	<img src="/GTA-V/IMG/Apartment Heist - Heist Clothing - Mission menu settings.jpg" alt="Original Heists - Armored vest Clothing, Mission menu setting - The Fleeca Job, The Prison Break, The Humane Labs Raid, Series A Funding, The Pacific Standard Job">
	<p>Owned Outfit<br></p>
	<img src="/GTA-V/IMG/Apartment Heist - Heist Clothing - Owned Outfit.jpg" alt="Original Heists - Armored vest Clothing, Owned Outfit - The Fleeca Job, The Prison Break, The Humane Labs Raid, Series A Funding, The Pacific Standard Job">